body {
  background: lightgrey;
  color: black;
  font-size: 25px;
  font-family: "Open Sans Condensed"; sans-serif;
}
.head {
  text-align: center;
  background-color: white;
  margin-left: 600px;
  margin-right: 600px;
}
.img {
  height: 700px;
  margin-left: 120px;
  margin-right: 100px;
}
.img2 {
  height: 650px;
  margin-left: 55px;
}
.img3 {
  height: 800px;
  margin-left: 90px;
  margin-right: 90px;
}
.background {
  text-align: center;
  background-color: white;
  margin-left: 550px;
  margin-right: 550px;
  padding-top: 50px;
  padding-right: 50px;
}
