body {
  background: bisque;
  color: grey;
  font-size: 25px;
}
.head {
  text-align: center;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
}
.head2 {
  text-align: center;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
}
